$$E=\frac{hc}{\lambda}$$.

$$F= G \frac{m_1m_2}{r^{2}}$$

$$\sin({2x})=2\sin({x})\cos({x})= \frac{2\tan(x)}{1+\tan^2(x)}$$

In [1]:
from math import *
from math import sin, cos, tan
alpha_d = 30                  # degrees
alpha_r = radians(alpha_d)    # Now in radians

# translate last formulea to python

print(sin)
print(alpha_r)

<built-in function sin>
0.5235987755982988

$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$$\heartsuit\diamondsuit\clubsuit\spadesuit$



$\displaystyle\sum_{k=0}^{\infty} \frac{1}{4k^2-1} = \frac{1}{2}$


$\int_0^\pi \mathrm{e}^{ix}\,\mathrm{d}x = 2i$

In [3]:
from math import exp, log

x= 20

a =exp(log(x))
b = x

print(a)
print(b)

19.999999999999996
20

In [18]:
from math import factorial


a= factorial(100)


print(a)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [16]:
from math import atan2, tan


x= 2
y= 3


z = atan2(y,x) 

if True:
    tan(z)== (y/x)
    print('yay')

    
print(z)

yay
0.982793723247329

In [46]:
from math import atan2, tan, degrees


x =float(input('value x = '))

y =float(input('value y = '))

z = atan2(y,x)

print(z)

if x < 0 and y < 0:
    print('3')

    
elif x < 0 and y > 0:
    print('2')
    
elif x > 0 and y > 0:
    print('1')
    
else:
    print('4')

value x = -3
value y = -3
-2.356194490192345
3

In [42]:
a =float(input('value a = '))

b =float(input('value b = '))

c =float(input('value c = '))

D= (b**2-4*a*c)



if D > 0:
    x_1= (-b+((b**2)-4*a*c)**0.5)/(2*a)
    x_2= (-b-((b**2)-4*a*c)**0.5)/(2*a)
    print(f'x+ = {x_1} ', f'x- = {x_2}')
    
elif D == 0:
    x_1= (-b+((b**2)-4*a*c)**0.5)/(2*a)
    print(f'x = {x_1}')
    
else:
    print('not obtainable')

value a = 4
value b = 4
value c = 1
x = -0.5

In [17]:
# list of numbers
X= [1.36,  1.46,  1.41,  2.12,  0.42,  0.98,  0.45,  1.97, -0.24, 2.18] 

# Which are added/subtracted
X.append(0.51)
X.remove(2.12)




print(list(X))

X_slice = X[0:8:2]

print(X_slice)

# summing all numbers in sliced list
count_X_s = sum(X_slice)

print(count_X_s)

[1.36, 1.46, 1.41, 0.42, 0.98, 0.45, 1.97, -0.24, 2.18, 0.51]
[1.36, 1.41, 0.98, 1.97]
5.72

Use Python sequence type set to find values that are common to both lists (you have to convert the lists to Python sets first) with method intersection() and return those values as a list.


Use the in operator to find whether 5 is an element of the intersection list.
Use operator in to prove that 5 is a member of the set version of night1.

In [33]:
# lists with a number of gamma ray bursts per night for two different periods:


night1 = [1,3,2,4,0,3,7,5,2,9,2,4,3]
night2 = [0,0,2,4,2,4,3,2,1,1,1,2,0]

# turn into sets
n_night1 = set(night1)
n_night2 = set(night2)

# intersection
inters = set.intersection(n_night1, n_night2)

# Return to list
n_inters = list(inters)

print(n_inters)



if 5 in n_inters:
    print('yes')

else:
    print('no, there is no 5 in intersection')
    
if 5 in night1:
    print('5 is located in night1')

[0, 1, 2, 3, 4]
no, there is no 5 in intersection
5 is located in night1